@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
  font-family: 'Gaegu', cursive;
  font-size: 20px;
  color: #A26CE7;
}

/* NAVBAR STYLES BEGIN */
.navbar {
  font-family: 'Gaegu', cursive;
  font-size: 25px;
  color: #A26CE7;
}
/* NAVBAR STYLES END */

.about {
  font-family: 'Gaegu', cursive;
  font-size: 23px;
  color: #A26CE7;
  padding top: 20px;

}
