@import url('https://fonts.googleapis.com/css?family=Gaegu');

.body {
  font-family: 'Gaegu', cursive;
}

/* NAVBAR STYLES BEGIN */
.navbar {
  font-family: 'Gaegu', cursive;
  font-size: 20px;
  color: #8D33FF;
}
/* NAVBAR STYLES END */
